# Add any directories, files, or patterns you don't want to be tracked by version control
.metadata
.buildpath
api-luis-barrios-itcrowd/__pycache__
itcrowd/__pycache__
movies/__pycache__
__pycache__/
__pycache__/*
migrations/*
migrations/
users/migrations
movies/migrations
node_modules/*
runserver
*.*.backup
*.*~
*.swp
*.tar.gz
*.pyc
*.log
*.pydevproject
*.project
*.planner
*.tmp
*.sqlite
*.sqlite3
.idea
.bin
*png
sources/*
node_modules/
bin/
include/
lib/
Scripts/
tcl/
